<form class="form-group">
  <div class="form-icon"><img src="images/svgs/icon-hour.png" /> Horário</div>
  <h3>Qual horário você quer treinar?</h3>
  <div class="radio">
    <input type="radio" name="Manha" />
    <span> 06:00 às 12:00</span>
    <label>Manha</label>
  </div>
  <div class="radio">
    <input type="radio" name="Tarde" />
    <label>Tarde</label>
    <span> 12:01 às 18:00</span>
  </div>
  <div class="radio">
    <input type="radio" name="Noite" />
    <label>Noite</label>

    <span> 18:01 às 23:00</span>
  </div>
  <div class="checkbox-wrapper">
    <div class="checkbox">
      <input type="checkbox" name="show-closed" />
      <label>Exibir Unidade Fechadas</label>
      <span>Resultados encontrados: {{results.length}}</span>
    </div>
  </div>
  <div class="btn-wrapper">
    <button class="btn btn-primary">Encontrar Unidade</button>
    <button class="btn btn-secondary">Limpar</button>
  </div>
</form>
